<!-- 欢迎页 -->
<section class="page show" id="welcome" ng-controller="welcomeCtrl">
	<div class="tree">
        <div class="tree1">
    	   <img src="images/tree.jpg"/>
           <span class="cloud"></span>
            <span class="cloud"></span>
            <span class="cloud"></span>
        </div>
        <div class="welcome2 title1">
        	<img src="images/title.png"/>
            <span class="shake"></span>
        </div>
        <img src="images/title2.png" class="title2" />
        
    </div>
    <h1 id="logo">
    	<img src="images/logo.png" />
    </h1>
</section>